<div class="container">
    
   <!--  <nav class="row">
        <div class="col-12">
            <div class="btn btn-info" routerLink="/">Home</div>
        </div>
    </nav> -->

    <main class="row">
        <div class="col12">

            <h2>About our store</h2>
            
            <p>
                The store was founded in 2011, and since then it won the “Best Plushie Store” award every year.Kép: feladat2.svg, Alternatív szöveg: “Best Plushie Store award”
            </p>
            <div class="row text-center">
                <div class="col-12">
                    <img src="../../assets/feladat2.png" alt="" class="img img-fluid">
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h2>
                        Famous plushies
                    </h2>
                </div>
            </div>

            <div class="row mx-1">
                <div class="col-lg-4 col-12 border p-3">
                    <h3>
                        Daniel the Dinosaur
                    </h3>
                    <p>
                        A large dinosaur by famous plushie maker John Plush.
                    </p>
                </div>

                <div class="col-lg-4 col-12 border p-3">

                    <h3>
                        Ted
                    </h3>
                    <p>
                        The first life-sized teddy bear in the country.
                    </p>

                </div>

                <div class="col-lg-4 col-12 border p-3 ">
                    
                    <h3>
                        Coffee Cat
                    </h3>
                    <p>
                        controversial plushie that promoted drinking coffee to aid web development.
                    </p>
                </div>
                
               
            </div>
           

          
           
            
            
            <div class="row my-3">
                <h3>
                    Provide feedback
                </h3>
            <form class="formstyle">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                   </div>
                <div class="mb-3">
                    <label for="floatingTextarea">Feedback</label>
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
                    
                </div>
              
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>

        </div>
    </main>

</div>

