<nav class="row  p-3">
  <div class="col-2">
      <div class="btn btn-info" routerLink="/">Home</div>
  </div>
  <div class="col-2">
      <div class="btn btn-info" routerLink="history">History</div>
  </div>

  <div class="col-2">
    <div class="btn btn-info" routerLink="toys">Plush toys</div>
</div>

<div class="col-2">
  <div class="btn btn-info" routerLink="inverotry">Inventory</div>
</div>



<div class="col-2">
  <div class="btn btn-info" routerLink="new-plushie">new-plushie</div>
</div>



</nav>

<router-outlet></router-outlet>

<div class="row">
  <div class="col-12">
      <footer class="col-12 card p-1">Created by Montvai Péter István</footer>
  </div>
</div>
