
// @import '../toys/colors'; tudom hogy ezt kellet volna használni de azért a színeket betettem lent elnézést
.img{
    width: 25%;
    float: right;}


.quote{    
            font-size: 30px;
            text-align: center;
            margin: 5px;
            padding: 5px;
            color:hsl(0, 88%, 27%); ;
}

.list{ font-size: 15px;
        margin-top: 30px;
        margin-bottom: 100px;
        color: darkgreen;
        margin-left: 20px;
        }


.container{ margin: auto;
            padding: auto;}




